$RECYCLE.BIN/
**/.direnv/
**/.vitepress/cache
**/.vitepress/dist
*.bak
*.cab
*.gho
*.iws
*.lcov
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.ori
*.orig
*.pid
*.pid.lock
*.seed
*.stackdump
*.tgz
*.tmp
*.tsbuildinfo
*.vsix
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.cache
.com.apple.timemachine.donotpresent
.directory
.docusaurus
.dynamodb/
.env
.env.*
.eslintcache
.firebase/
.fseventsd
.fuse_hidden*
.fusebox/
.grunt
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamics.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/.cache/.Apifox_Helper
.idea/ApifoxUploaderProjectSetting.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint.xml
.idea/sonarlint/
.idea_modules/
.lock-wscript
.netrwhist
.next
.nfs*
.node_repl_history
.npm
.nuxt
.nyc_output
.output
.parcel-cache
.pnp.*
.pre-commit-config.yaml
.serverless/
.stylelintcache
.svelte-kit/
.temp
.tern-port
.vite/
.vscode-test
.vscode/*
.vuepress/dist
.yarn-integrity
.yarn/*
Icon[]
Network Trash Folder
Session.vim
Sessionx.vim
Temporary Items
Thumbs.db
Thumbs.db:encryptable
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Dd]esktop.ini
__MACOSX/
atlassian-ide-plugin.xml
bower_components
build/Release
cmake-build-*/
com_crashlytics_export_strings.xml
coverage
crashlytics-build.properties
crashlytics.properties
dist
ehthumbs.db
ehthumbs_vista.db
fabric.properties
http-client.private.env.json
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules/
nohup.out
npm-debug.log*
out
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
tags
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
web_modules/
yarn-debug.log*
yarn-error.log*

!*.code-workspace
!*.svg
!.env.example
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
