**/.direnv/
*.env*
.DS_Store
.env
.pre-commit-config.yaml
.react-router/
.wrangler/
.yarn/*
app/generated/
build/
node_modules/
result*

!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/sdks/
!.yarn/versions/
