@charset "UTF-8";

.header {
    min-height: 100px;
    background-color: var(--header-bg-color);

    p {
        font-size: var(--header-font-size);
        text-align: center;
        vertical-align: middle;
        line-height: 4rem;
        margin: 0;
        white-space: nowrap;
        @media (768px <= width) {
            line-height: 6rem;
        }
    }
}
