@charset "UTF-8";

.rational {
    width: 100%;
    aspect-ratio: 1 / 1.35;
    @media (768px <= width) {
        width: 75%;
    }
}

.extra-contents {
    margin-left: 10px;

    h3 {
        margin-top: 10px;
    }

    .audio {
        width: 80%;
        @media (768px <= width) {
            width: 30%;
        }
    }
}
