@charset "UTF-8";

@layer navigation, utility;

@layer navigation {
    .nav {
        @media (768px <= width) {
            padding: 0;
            flex: 0 1 auto;
        }

        .nav-container {
            display: block;
            background-color: var(--navigation-bg-color);
            position: fixed;
            top: 0;
            right: 0;
            z-index: 20;
            margin: 0;
            padding: 0;
            width: var(--navigation-item-width);
            @media (768px <= width) {
                position: relative;
                top: 0;
                left: 0;
                object-fit: contain;
                flex: 0 0 auto;
                height: 100%;
            }

            .nav-button {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 30;
                width: 62px;
                height: 62px;
                background-color: var(--navigation-button-bg-color);
                background-image: url(../../../public/navbtn.avif), url(../../../public/navbtn.webp), url(../../../public/navbtn.png);
                background-size: 62px;
                @media (768px <= width) {
                    display: none;
                }

                &:active, &:focus, &:hover {
                    background-color: var(--navigation-button-hover-bg-color);
                    transition: background-color .3s linear;
                }
            }

            .navigation {
                background-color: var(--navigation-bg-color);
                position: fixed;
                top: 62px;
                right: 0;
                z-index: 20;
                margin: 0;
                padding: 0;
                width: var(--navigation-item-width);
                box-shadow: 0 5px 5px hsl(0deg, 0%, 0%, 40%);
                overflow: hidden;
                @media (768px <= width) {
                    position: relative;
                    top: 0;
                    left: 0;
                    box-shadow: none;
                }

                h2 {
                    margin: 0;
                    padding: 8.1px 20px;
                    @media (768px <= width) {
                        padding: 0.5rem;
                    }
                }

                .nav-list {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    width: var(--navigation-item-width);
                    @media (768px <= width) {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                    }

                    li {
                        height: var(--navigation-item-height);
                        text-align: center;
                        border-top: 1px solid hsl(0deg, 0%, 5%);
                        transition: height 0.2s linear;
                        overflow: visible;
                        @media (768px <= width) {
                            flex: 0 0 auto;
                        }

                        &.nav-sub {
                            height: auto;

                            .nav-sub-button {
                                cursor: pointer;
                            }

                            .nav-list li {
                                margin-left: 1.5rem;
                                width: var(--navigation-sub-item-width);

                                &:last-child {
                                    border-bottom: none;
                                }
                            }
                        }

                        &:last-child {
                            margin-bottom: 1px;
                            border-bottom: 1px solid hsl(0deg, 0%, 5%);
                        }

                        a {
                            display: block;
                            padding: 15px 20px;
                            background-color: var(--navigation-item-bg-color);
                            text-decoration: none;
                            line-height: 1;
                            color: var(--navigation-item-color);

                            &:active, &:focus, &:hover {
                                background-color: var(--navigation-item-hover-bg-color);
                                transition: background-color .3s linear;
                            }
                        }
                    }
                }
            }
        }
    }
}

@layer utility {
    .nav-hidden {
        overflow: hidden;
        height: 0;
        border: none;
        transition: height 0.2s linear;
    }
}
