            <footer>
                <div class="footer-info">
                    <div class="foot">
                        <h3>Location</h3>
                        <ul>
                            <li><a href="https://www.sendai-nct.ac.jp/">仙台高等専門学校</a><br />名取キャンパス萩工会館2F</li>
                        </ul>
                    </div>
                    <div class="foot">
                        <h3>Contact</h3>
                        <ul>
                            <li>Email:<a href="mailto:sofken.natori@gmail.com">sofken.natori@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="foot">
                        <h3>Club Official SNS</h3>
                        <ul>
                            <li>Twitter:<a href="https://twitter.com/sofken_natori/">@sofken_natori</a></li>
                        </ul>
                    </div>
                </div>
                <div class="copyright">
                    Copyright © 2019-<span id="copyright-this-year"></span> SNCT Natori Software Research and Development Group. All rights reserved.
                </div>
            </footer>
            <script>
                document.getElementById('copyright-this-year').innerHTML = new Date().getFullYear();
            </script>
