                <div class="nav-button slider">
                    <p>▼Menu</p>
                </div>
                <nav class="navigation">
                    <a href="{{ROOT}}/">TOP</a>
                    <h3 class="nav-rational-button slider">Rationale</h3>
                    <ol class="navigation-rational">
                        <li><a href="{{ROOT}}/vol36/">vol.36(2022)</a></li>
                        <li><a href="{{ROOT}}/vol35/">vol.35(2021)</a></li>
                        <li><a href="{{ROOT}}/vol34/">vol.34(2020)</a></li>
                        <li><a href="{{ROOT}}/vol33/">vol.33(2019)</a></li>
                        <li><a href="{{ROOT}}/vol32/">vol.32(2018)</a></li>
                    </ol>
                </nav>
