                <div class="nav-button slider">
                    <p>▼Menu</p>
                </div>
                <nav class="navigation">
                    <a href="{{ROOT}}/" title="トップページ">TOP</a>
                    <h3 class="nav-rational-button slider" title="レーショナル(部誌)">Rationale</h3>
                    <ol class="navigation-rational">
                        <li><a href="{{ROOT}}/vol36/" title="レーショナル(2022/10/30発行)">vol.36(2022)</a></li>
                        <li><a href="{{ROOT}}/vol35/" title="レーショナル(2021/10/30発行)">vol.35(2021)</a></li>
                        <li><a href="{{ROOT}}/vol34/" title="レーショナル(2020/11/08発行)">vol.34(2020)</a></li>
                        <li><a href="{{ROOT}}/vol33/" title="レーショナル(2019/11/08発行)">vol.33(2019)</a></li>
                        <li><a href="{{ROOT}}/vol32/" title="レーショナル(2018/11/12発行)">vol.32(2018)</a></li>
                    </ol>
                </nav>
