@charset "UTF-8";

.header {
    height: 100px;
    width: inherit;
    background-color: var(--header-bg-color);

    p {
        width: inherit;
        font-size: 2rem;
        text-align: center;
        vertical-align: middle;
        line-height: 6rem;
        @media (768px <= width) {
            font-size: 4rem;
        }
    }
}
