@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--color);
}

a {
    color: inherit;
    text-decoration: none;
    transition: text-decoration 1s linear;

    &:active, &:focus, &:hover {
        text-decoration: underline;
    }
}

abbr {
    &, &[title] {
        cursor: inherit;
        text-decoration: none;
    }
}

caption {
    caption-side: top;
    text-align: center;
}

table {
    border: 3px solid hsl(0deg, 0%, 20%);
}

td, th {
    border: 1px solid hsl(0deg, 0%, 20%);
    border-collapse: collapse;
    padding: 0.25rem;
}
