@charset "UTF-8";

body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: hsl(0deg, 0%, 100%);
    font-family: 'Noto Sans JP', 'Noto Sans CJK JP', Verdana, Arial, Helvetica, -apple-system, sans-serif;
    line-height: 1.5rem;
    font-size: 1rem;
    color: hsl(0deg, 0%, 0%);

    .content-container {
        flex: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        min-height: calc(100svh - 245px);
        @media (768px <= width) {
            flex-direction: row;
        }

        main {
            width: 100%;
            padding: 10px;
            flex: auto;
            background-color: hsl(0deg, 0%, 100%);
            @media (768px <= width) {
                width: calc(100% - 200px);
            }

            h2 {
                width: 100%;
                background-color: var(--h-bg-color);
                padding: 10px;
                font-size: 1.3rem;
                margin: 0 0 4px 0;
                @media (768px <= width) {
                    font-size: 1.5rem;
                }
            }

            h3 {
                width: calc(100% - 1rem);
                background-color: var(--h-bg-color);
                padding: 8px;
                font-size: 1.1rem;
                margin: 0 0 4px 1rem;
                @media (768px <= width) {
                    font-size: 1.25rem;
                }
            }

            p {
                width: 100%;
                margin: 0;
                padding: 0.2em 0 0.8em 0;
            }

            ul {
                margin-left: 10px;
                list-style: none;
            }
        }
    }
}
